<!DOCTYPE html>
<html>

     <head>
          <title>
               footer
          </title>
          <link rel='stylesheet' href='/stylesheets/style.css' />
     </head>

     <body>
          <section class="p-5">
               <p class="text-center">This is Footer
               </p>
          </section>
     </body>

</html>