<!DOCTYPE html>
<html>

     <head>

          <link rel='stylesheet' href='/stylesheets/style.css' />

          <title>
               <%= title %>
          </title>
          <%- include('header.ejs') %>
     </head>

     <body>

          <section class="p-5">
               <p class="container"> Thank you from <%= title %> to you.</p>

          </section>

     </body>

     <%- include('footer.ejs') %>


</html>